<!--
    <form action="." method="POST">
        {% csrf_token %}
        Login: {{ form.username }} <br>
        Senha: {{ form.password }} <br>
        {% if form.errors %}
            <label>Ops! Algo de errado, tente novamente</label>
        {% endif %}
            <input type="submit" value="Entrar">
        </div>  
    </form>

-->
{% extends "base.html" %}
{{% block content %}}
    <nav class="row">
		<section class="col-md-4">	
		</section>	
			<section class="col-md-4">	
					<form action="." class="form-horizontal" role="form">
						{% csrf_token %}
						  <div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
										Login: {{ form.username }} <br>
							</div>
						  </div>
						  <div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
							<div class="col-sm-10">
										Senha: {{ form.password }} <br>
											{% if form.errors %}
										<label>Ops! Algo de errado, tente novamente</label>
										{% endif %}
							</div>
						  </div>
						  <div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							  <div class="checkbox">
								<label>
								  <input type="checkbox"> Remember me
								</label>
							  </div>
							</div>
						  </div>
						  <div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							  <button type="submit" class="btn btn-default">Enviar</button>
							</div>
						  </div>
						</form>
			</section>
		<section class="col-md-4">
		</section>
			
    </nav>  
{{% endblock %}}
