<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Emprestimo
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="/solicitar-emprestimo/" class="addlink">Solicitar empréstimo</a>
            
        </li>
        <li>
            <a href="/solicitar-autorizacao/" class="addlink">Solicitar autorização</a>
        </li>
        <li>
            <a href="/consultar-emprestimos_serv/" class="addlink">Consultar empréstimos</a>
        </li>
    </ul>
</li>