{% extends "base.html" %}

{% block menuuser %}
    {% include "login/login_logout.html" %}
{% endblock %}

{% block content %}

	<legend> Solicitar autorização </legend>
    {% if msg_erro %}
	    <div class="alert alert-danger">
		    {{ msg_erro }}
	    </div>
    {% endif %}
    <form class="form-horizontal" action="/solicitar-autorizacao/" method="post"
        role="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="cnh" class="col-lg-3 control-label">
                CNH
            </label>
            <div class="col-lg-7">
                {{form.cnh.errors}}
                {{form.cnh}}
            </div>
        </div>
        <div class="form-group">
            <label for="observacao" class="col-lg-3 control-label">
                Obervação
            </label>
            <div class="col-lg-7">
                {{form.observacao.errors}}
                {{form.observacao}}
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10">
                <button type="submit" class="btn btn-info pull-right">
                    Enviar
                </button>
            </div>
        </div>
    </form>
{% endblock %}