{% extends "base.html" %}
<!--
    <form action="." method="POST">
        {% csrf_token %}
        Login: {{ form.username }} <br>
        Senha: {{ form.password }} <br>
        {% if form.errors %}
            <label>Ops! Algo de errado, tente novamente</label>
        {% endif %}
            <input type="submit" value="Entrar">
        </div>  
    </form>

-->
{% block content %}
    <nav class="row">
		<section class="col-md-4">	
		</section>	
			<section class="col-md-4">	
					<form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-horizontal">
						{% csrf_token %}
						  <div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
                                <input id="id_username" maxlength="254" class="form-control" name="username" type="text"/>
							</div>
						  </div>
						  <div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">Senha</label>
							<div class="col-sm-10">
                                <input id="id_password" class="form-control" type="password" name="password"/>
											{% if form.errors %}
										<label>Ops! Algo de errado, tente novamente</label>
										{% endif %}
							</div>
						  </div>

						  <div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
							  <input type="submit" class="btn btn-default" value="Enviar"/>
							</div>
						  </div>
                            <input type="hidden" name="next" value="{% url 'app_frota.views.controle.index' %}" />
						</form>
			</section>
		<section class="col-md-4">
		</section>
			
    </nav>  
{% endblock %}
