
{% extends "base.html" %}

{% block content %}
	
	<legend> Cadastre Servidor </legend>
	<div class="form_dicas">
		<form class="form-horizontal" action="/cadastra_servidor/" method="post" 
			role="form" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
			    <label for="nome" class="col-lg-3 control-label">
			    	Nome :
			    </label>
			    <div class="col-lg-7">
			    	{{cadastra_servidor.nome.errors}}
			   		{{cadastra_servidor.nome}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="email" class="col-lg-3 control-label">
			    	Sinopse :
			    </label>
			    <div class="col-lg-7">
			    	{{cadastra_servidor.email.errors}}
			   		{{cadastra_servidor.email}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="senha" class="col-lg-3 control-label">
			    	Numero de cópias :
			    </label>
			    <div class="col-lg-7">
			    	{{cadastra_servidor.senha.errors}}
			   		{{cadastra_servidor.senha}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
			    <label for="cpf" class="col-lg-2 control-label">
			    	Genero :
			    </label>
			    <div class="col-lg-7">
			    	{{cadastra_servidor.cpf.errors}}
			   		{{cadastra_servidor.cpf}} 	
			    </div>
	 		</div>
	 		<div class="form-group">
	 			<div class="col-lg-10">
			    	<button type="submit" class="btn btn-info pull-right"> 
			    		Enviar 
			    	</button>
	 			</div>
	 		</div>

		</form>	
	</div>
{% endblock %}