{% extends "base.html" %}
{% load widget_tweaks %}

{% block menuuser %}
    {% include "login/login_logout.html" %}
{% endblock %}

{% block content %}
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active"><strong>Relatório empréstimos dos servidores</strong></li>
	</ol>

	<form id="formProcurar" method="post" class="form-inline" action="/relatorio-servidores/">{% csrf_token %}
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="input-group">
					{{ form.valor | add_class:"form-control" }}
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
					</span>
				</div>

			</div>

            <div class="pull-right">
                {% if form.valor.value %}
                    <a id="print_relatorio_servidores" href="/imprimir-relatorio-servidores/?valor={{form.valor.value}}" class="btn btn-default"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>
                {% else %}
                    <a id="print_relatorio_servidores" href="/imprimir-relatorio-servidores/" class="btn btn-default"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>
                {% endif %}
            </div>
		</div>
	</form>

	<table class="table table-condensed">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Total empréstimos</th>
            </tr>
        </thead>
        <tbody>
		{% for servidor in servidores %}
            <tr>
                <td>{{servidor.username}}</td>
                <td>{{servidor.first_name}}</td>
                <td>{{servidor.last_name}}</td>
                <td>{{servidor.count}}</td>
            </tr>
		{% endfor %}
        </tbody>
    </table>

    <ul class="pager">
   		<li class="previous">
	    {% if servidores.has_previous %}
	    	{% if form.valor.value %}
	       		<a href="?page={{ servidores.previous_page_number }}&valor={{form.valor.value}}"> Anterior </a>
	       	{% else %}
	       		<a href="?page={{ servidores.previous_page_number }}"> Anterior </a>
	       	{% endif %}
	    {% endif %}
	    </li>

	    <li class="next">
	    {% if servidores.has_next %}
	    	{% if form.valor.value %}
	       		<a href="?page={{ servidores.next_page_number  }}&valor={{form.valor.value}}"> Próxima </a>
	       	{% else %}
	       		<a href="?page={{ servidores.next_page_number  }}"> Próxima </a>
	       {% endif %}
	    {% endif %}
	    </li>
	</ul>

{% endblock %}
